---
layout: default
title: Hao Liu | Papers &amp; Talks
picture: levitated-mass
---
<div class="page-header">
  <h3>Publications</h3>
</div>

{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<!--
<div class="page-header">
<h3>Undergraduate Research Poster</h3>
</div> -->



<div class="page-header">
<h3>Talks</h3>
</div>
&bull; <a href="http://people.ee.duke.edu/~lcarin/Hao6.9.2017.pdf"><b >Bidirectinal GAN</b> </a>, Prof. Lawrence Carin's Group, Duke University <br>
&bull; <b >Decision tree</b> </a>, Prof. Yufeng Li's Group, Nanjing University
