---
layout: default
title: Hao Liu | Papers &amp; Talks
picture: levitated-mass
---
<div class="page-header">
  <h3>Publications</h3>
</div>

{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<!--
<div class="page-header">
<h3>Undergraduate Research Poster</h3>
</div> -->



<div class="page-header">
<h3>Talks</h3>
</div>
&bull; <a href="https://www.nju.edu.cn/EN/7f/6e/c7136a163694/page.htm"><b >Bidirectinal GAN</b> </a>, Prof. Lawrence Carin's Group, Duke University <br>
&bull; <b >Decision tree</b> </a>, Prof. Yufeng Li's Group, Nanjing University
